<%- include('header'); -%>
<body>
     <div class = 'box' id = 'heading'>
        <h1><%= listTitle %></h1>
     </div>
    
     <div class = 'box'>
        
        <% for(let i = 0; i < newTask.length; i++) {%>
            <div class = 'item'>
                <input type="checkbox">
                <p><%= newTask[i] %></p>
            </div>
            <% }; %>
            
       
        <form method = 'POST', action = '/' class = 'item'>
            <input type = 'text' name = 'task' placeholder= 'New Task'>
            <button type = 'submit' name = 'list' value = '<%= listTitle %>'>+</button>
        </form>

     </div>

<%- include('footer') -%>
    

    
